@import 'mods';

$grid-breakpoints: (
    4xs: 320px,
    3xs: 360px,
    2xs: 400px,
    xs: 480px,
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    2xl: 1536px,
    3xl: 1920px
);

$container-max-widths: (
    xs: 450px,
    sm: 600px,
    md: 720px,
    lg: 960px,
    xl: 1100px,
    2xl: 1440px,
    3xl: 1800px
);